.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.logo{
  width:12%;
}
.logo-box, .logo-box:hover, .logo-box>span, .logo-box:hover>span{
  text-decoration: none;
  color: white;
}