<!-- <mat-toolbar color="primary">
  <span>STREAMING APP</span>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center">

  <router-outlet></router-outlet>
</div> -->


<!-- <div>
  <button (click)="doLogin()" *ngIf="!token" type="button" class="btn btn-primary btn-sm" >Login</button>
  <button (click)="doLogout()" *ngIf="token" >Logout</button>
</div>
<app-login></app-login>
<hr />
<app-register></app-register>

<router-outlet ></router-outlet> -->

<navigation> </navigation>
<!-- <router-outlet *ngIf="token"></router-outlet> -->

