<div className="container mt-5">
    <h4>Live Streams</h4>
    <hr className="my-4"/>

    <div className="streams row">
        <!-- {streams} -->

        <div *ngFor="let stream of stream$; index as indx" className="stream col-xs-12 col-sm-12 col-md-3 col-lg-4" key={indx}>
            <span className="live-label">LIVE</span>
            <!-- <Link to={'/stream/' + stream.username}>
                <div className="stream-thumbnail">
                    <img src={'/thumbnails/' + stream.stream_key + '.png'}/>
                </div>
            </Link>
        
            <span className="username">
                <Link to={'/stream/' + stream.username}>
                    {stream.username}
                </Link>
            </span> -->
            {{stream$}}
        </div>
    </div>
</div>
