<div>
    <div class="container mt-5">
        <h4>Streaming Key</h4>
        <hr class="my-4"/>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
            <div class="row">
                <h5>{{this.state.stream_key}}</h5>
            </div>
            <div class="row">
                <button
                    class="btn btn-dark mt-2"
                    (click)="generateStreamKey()">
                    Generate a new key
                </button>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h4>How to Stream</h4>
        <hr class="my-4"/>

        <div class="col-12">
            <div class="row">
                <p>
                    You can use <a target="_blank" href="https://obsproject.com/">OBS</a> to Live stream. If you're
                    using OBS, go to Settings > Stream and select Custom from service dropdown. Enter
                    <b>rtmp://3.132.119.22:1935/live</b> in server input field. Also, add your stream key.
                    Click apply to save.
                </p>
            </div>
        </div>
    </div>
</div>